<style>
figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

body {
  background-color: lightblue;
  text-align: justify;
}

h1 {
  color: navy;
  margin-left: 20px;
}
</style>
